<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-16">
        <mat-form-field class="full-width">
          <input matInput
                 type="text"
                 name="pill"
                 [formControl]="itemForm.controls['pill']"
                 placeholder="Pill">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-16">
        <mat-form-field class="full-width">
          <input matInput
                 type="datetime-local"
                 name="startDate"
                 [formControl]="itemForm.controls['startDate']"
                 placeholder="Start Date">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-16">
        <mat-form-field class="full-width">
          <input matInput
                 type="datetime-local"
                 name="endDate"
                 [formControl]="itemForm.controls['endDate']"
                 placeholder="End Date">
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-16">
        <mat-form-field class="full-width">
          <input matInput
                 type="text"
                 name="app"
                 [formControl]="itemForm.controls['app']"
                 placeholder="Appointments">
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mt-16">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"SAVE" | translate }}</button>
        <span fxFlex></span>
        <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
      </div>
    </div>
  </form>
