<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Настройк профиля">
      <mat-card-content class="mt-16">
        <form *ngIf="getUserRole() === 'User'" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="settingsForm.controls['fullName']"
                   name="fullName"
                   placeholder="Ф.И.О." />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="settingsForm.controls['email']"
                   type="email"
                   name="email"
                   placeholder="Электронная почта">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="settingsForm.controls['age']"
                   type="number"
                   name="age"
                   placeholder="Возраст">
          </mat-form-field>
          <button mat-raised-button color="primary">Сохранить</button>
        </form>

        <form *ngIf="getUserRole() === 'Doctor'" [formGroup]="doctorSettingsForm" (ngSubmit)="onDoctorSubmit()">
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="doctorSettingsForm.controls['fullName']"
                   name="fullName"
                   placeholder="Ф.И.О.">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="doctorSettingsForm.controls['email']"
                   type="email"
                   name="email"
                   placeholder="Электронная почта">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="doctorSettingsForm.controls['phoneNumber']"
                   type="text"
                   name="phoneNumber"
                   placeholder="Номер телефона">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   [formControl]="doctorSettingsForm.controls['workExperience']"
                   formControlName="workExperience"
                   type="number"
                   name="workExperience"
                   placeholder="Опыт работы">
          </mat-form-field>
          <button mat-raised-button color="primary">Сохранить</button>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
